# ignore browsewithscroll assets

x-browsewithscroll/fonts/fonts.html
x-browsewithscroll/media/media.html
x-browsewithscroll/fonts/vault/
x-browsewithscroll/fonts/fuentes/
x-browsewithscroll/media/vault/
x-browsewithscroll/media/recursos/
x-sketchwithdeck/sketches/

# ignore os files

.DS_Store
Thumbs.db
